{% extends "base.html" %}
{% load cart %}
{% block title %}Carrinho de compras{% endblock %}
 
{% block content %}
    {% include "snippets/message.html" %}

    <table class="table">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Observação</th>
            <th>Quantidade</th>
            <th><span class="pull-right">Adicionar/Remover</span></th>
            <th><span class="pull-right">Preço total</span></th>
            <th style="width: 1px;"><span class="pull-right">Remover</span></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td>{{ item.product.nome }}</td>
                <td>{{ item.observation|default:"-" }}</td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    <a class="btn btn-small pull-right" href="{% url cart:add item.product.pk 1 %}"><i class="icon-plus"></i></a>
                    <a class="btn btn-small pull-right" href="{% url cart:decrement item.product.pk item.quantity %}"><i class="icon-minus"></i></a>
                </td>
                <td><span class="pull-right">R$ {{ item.formatted_total_price }}</span></td>
                <td><a class="btn btn-small btn-danger pull-right" href="{% url cart:remove item.product.pk %}"><i class="icon-remove icon-white"></i></a></td>
            </tr>
        {% endfor %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Taxa de entrega</td>
                <td>R$ {{ taxa_entrega|format_money }}</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
                <td><h3 style="white-space: nowrap" class="pull-right">Total: R$ <strong>{{ cart.summary|add:taxa_entrega|format_money }}</strong></h3></td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: right;">
        <a class="btn btn-danger" href="#">Pagamento</a>
    </div>

{% endblock %}