{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="id_{{ field.label|slugify }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
            {% endif %}
            {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}