a.social{
    display: inline-block;
    width: 100px;
    height: 26px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 5px rgba(0,0,0,.3);
    box-shadow: 0 4px 5px rgba(0,0,0,.3);

    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    padding: 10px;
}

a.social > span.social-label {
    float: left;
    margin-top: 3px;
}

/*Twitter*/
a.twitter{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #65acc8),color-stop(0,#4586ae));
    border-top: 1px solid #a1cdde;
    color: #fff;
}
a.twitter:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4586ae),color-stop(0,#65acc8));
}

/*Facebook*/
a.facebook{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4669ab),color-stop(0,#304886));
    border-top: 1px solid #8ea4cd;
    color: #fff;
}
a.facebook:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #304886),color-stop(0,#4669ab));
}

/*Using Sprites*/
.icons{
    display: block;
    background-image: url(../img/social-sprite.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 25px;
    right: 10px;
    bottom: 5px;
    float: right;
}
.icons.dribbble{
    background-position: 0 0;
}

.icons.twitter{
    background-position: -25px 0;
}

.icons.facebook{
    background-position: -50px 0;
}

.icons.forrst{
    background-position: -75px 0;
}

.icons.designmoo{
    background-position: -100px 0;
}

.icons.flickr{
    background-position: -125px 0;
}