@media (max-width: 979px) {

    /* Logo no dropdown */
    .navbar .brand img {
        position: absolute;
        top: 10px;
    }

    /* Cor da fonte do menu drop-down */
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        color: #e9cbcd;
    }

    /* Cor da linha separadora do form de busca */
    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
        border-top: 1px solid #8c1c24;
        border-bottom: 1px solid #8c1c24;
    }

    /* Cor da fonte do categorizador do menu */
    .nav-collapse .nav .nav-header {
        color: #d18e92;
    }

    .footer {
        padding: 20px;
    }

    .copyright {
        padding: 20px -20px -20px;
    }
    
    .btn-resp {
        clear: both;
        margin-top: 8px;
        position: relative;
        left: -5px;
    }

}

@media (max-width: 767px) {
    #cart {
        position: inherit;
    }

    #cart > .side-filter {
        width: inherit;
    }
}