html,
body { height: 100% }
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
}
#wrap > .container { padding-top: 60px }
.container .credit { margin: 20px 0 }

/* Background do menu fixo */
.navbar-inner {
    background-color: #9c020d;
    background-image: -moz-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -ms-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c20e1a), to(#9c020d));
    background-image: -webkit-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -o-linear-gradient(top, #c20e1a, #9c020d);
    background-image: linear-gradient(top, #c20e1a, #9c020d);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#c20e1a', endColorstr = '#9c020d', GradientType = 0);
}

/* Cor da fonte do menu fixo */
.navbar .nav > li > a {
    color: #e9cbcd;
}

/* Cor da fonte do menu quando ativo ou mouse-over */
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #880d16;
}

/* Cor da fonte da logo */
.navbar .brand {
    color: #e9cbcd;
}

/* Estilo do campo de busca */
.navbar-search .search-query {
    color: #000;
    background-color: #8c1c24;
    border: 1px solid #790008;
}

/* Cor da fonte do campo de busca */
.navbar-search .search-query:-moz-placeholder {
    color: #e9cbcd;
}
.navbar-search .search-query::-webkit-input-placeholder {
    color: #e9cbcd;
}

/* Background do item do menu drop-down no mouse-over */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: #c20e1a;
}

/* Estilo da lista que divide itens no menu fixo */
.navbar .divider-vertical {
    background-color: #790008;
    border-right: 1px solid #d2565f;
}

/* Background do item do menu lateral */
.nav-list > .active > a,
.nav-list > .active > a:hover {
    background-color: #c20e1a;
}

/* Cor padrão de links */
a {
    color: #790008;
}

/* Cor padrão de links no mouse-over */
a:hover {
    color: #53050a;
}

/* Logo */
.navbar .brand {
    width: 221px;
}
.navbar .brand img {
    position: absolute;
    top: 4px;
}

/* Estilo da linha dos títulos */
.page-header {
    border-bottom: 1px solid #dadada;
}

/* Estilo para os botões do formulário */
.form-actions {
    background: url(../img/bg_actions_bar.png) no-repeat;
    border-top: 1px solid #eeeeee;
    *zoom: 1;
}

/* estilo do footer */
#push, #footer { height: 170px }
#footer {
    color: #fff;
    background-color: #9c020d;
    background-image: -moz-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -ms-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c20e1a), to(#9c020d));
    background-image: -webkit-linear-gradient(top, #c20e1a, #9c020d);
    background-image: -o-linear-gradient(top, #c20e1a, #9c020d);
    background-image: linear-gradient(top, #c20e1a, #9c020d);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#c20e1a', endColorstr = '#9c020d', GradientType = 0);
}
#footer ul {
    list-style: square;
    margin: 0 0 10px 17px;
}
#footer a {
    color: #E9CBCD;
}

#footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* Side filter */
.side-filter {
    background-color: #fff3e5;
    border: solid 1px #ffdab9;
    padding-bottom: 0;
}
.input-side-filter {
    width: 95%;
    padding: 2%;
}
.side-filter .filters label, .side-filter .filters strong {
    display: inline;
    position: relative;
    top: 1px;
}
.side-filter ul li ul {
    margin: 0;
}
.side-filter ul li ul li {
    list-style: none;
}

/* Total size */
.full-width {
    width: 100%;
}

/* clear both */
.clear-both {
    clear: both;
}

.drop-hours td {
    padding: 0 5px;
    white-space: nowrap;
}

.copyright {
    color: #E9CBCD;
    margin-top: 20px;
    background: #880D16;
    padding: 20px;
}

/* Django messages */
ul.messages {
    margin-left: 0;
    list-style: none;
}

ul.errorlist {
    margin: 0;
    list-style: none;
}