{% extends "base.html" %}
{% block title %}{{ block.super }} - Bairro{% endblock %}

{% block script %}
	<script type="text/javascript">
	function send_request(){
	  $.get(location.href, function(data){
	    $("#idPk").html(data.pk);
	    $("#idNome").html(data.nome);
	    $("#idCidadePk").html(data.cidade_pk);
	  });
	}
	</script>
{% endblock %}

{% block content %}
	Object in template called without AJAX: {{ object }}<hr/>
	<input type="button" onclick="send_request();" value="Request this page with AJAX" /><br/>
	<b>PK via AJAX:</b><span id="idPk"></span><br/>
	<b>Nome via AJAX:</b><span id="idNome"></span><br/>
	<b>PK Cidade via AJAX:</b><span id="idCidadePk"></span><br/>
{% endblock %}