{% extends "base.html" %}
{% block title %}{{ block.super }} - Uf{% endblock %}

{% block script %}
	<script type="text/javascript">
	function send_request(){
	  $.get(location.href, function(data){
	    $("#idPk").html(data.pk);
	    $("#idSigla").html(data.sigla);
	  });
	}
	</script>
{% endblock %}

{% block content %}
	Object in template called without AJAX: {{ object }}<hr/>
	<input type="button" onclick="send_request();" value="Request this page with AJAX" /><br/>
	<b>PK via AJAX:</b><span id="idPk"></span><br/>
	<b>Sigla via AJAX:</b><span id="idSigla"></span><br/>
{% endblock %}