<html>
<head>
    <title>Email de ativação</title>
</head>
<body>
    <p>
        Você (ou alguém fingindo ser você) fez o cadastro para obter uma conta no {{ site.name }}. Se não foi você, por
        favor, ignore este e-mail e seu endereço será removido dos nossos registros.
    </p>
    <p>
        Para ativar sua conta, por favor acesse o link a seguir antes de {{ expiration_days }} dias:
    </p>
    <p>
        http://{{ site.domain }}{% url 'registration_activate' activation_key %}
    </p>
    <p>
        Atenciosamente,<br>
        {{ site.name }}
    </p>
</body>
</html>
