{% extends "accounts/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<ul class="messages">
    <li class="alert">Seu usuário ou senha estão incorretos. Por favor, tente novamente.</li>
</ul>
{% endif %}

<form class="form-horizontal" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    <fieldset>
        <legend>Login</legend>
        <div class="control-group">
            <label class="control-label" for="id_username">Usuário</label>
            <div class="controls">{{ form.username }}</div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_password">Senha</label>
            <div class="controls">{{ form.password }}</div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <a href="{% url 'auth_password_reset' %}">Esqueci</a> minha senha |
                <a href="{% url 'registration_register' %}">Criar uma conta</a>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </fieldset>
</form>

{% endblock %}
