{% extends "accounts/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<ul class="messages">
    <li class="alert">
        Esqueceu sua senha? Digite seu e-mail no formulário abaixo e vamos lhe enviar instruções para a criação de
        uma nova senha.
    </li>
</ul>
<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>Reset password</legend>

        {% include "snippets/form.html" %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Reset password</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>
{% endblock %}
