{% extends "accounts/registration_base.html" %}
{% block title %}Confirmar a redefinição da senha{% endblock %}
{% block content %}
<h3>Digite sua nova senha para efetuar a redefinição:</h3>
<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>Redefinição de senha</legend>

        {% include "snippets/form.html" %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Redefinir</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>
{% endblock %}
