{% extends "accounts/registration_base.html" %}
{% block title %}Alterar senha{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>Alterar senha</legend>

        {% include "snippets/form.html" %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Alterar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>

{% endblock %}
