{% extends "accounts/registration_base.html" %}
{% block title %}Formulário de cadastro para novo usuário{% endblock %}
{% block content %}
<h3>Criação de nova conta</h3>
<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>Formulário de cadastro para novo usuário</legend>

        {% include "snippets/form.html" %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>
{% endblock %}
