{% extends "base.html" %}
{% load cart %}

{% block script %}
    <script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/noty/jquery.noty.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/noty/layouts/top.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/noty/themes/default.js" type="text/javascript"></script>

    <script type="text/javascript">
    function on_minus_click_event(e){
        e.preventDefault();
        var url = $(this).attr('href');

        $.ajax(url, {
            type: 'post',
            data: { csrfmiddlewaretoken: $.cookie('csrftoken') },
            success: function(data, xhr, textstatus){
                update_cart(data);
            },
            complete: function(xhr, textstatus){}
        });
    };

    function update_cart(data){
        var items = data['items'];
        var formatted_total_value = data['formatted_total_value'];
        var formatted_summary = data['formatted_summary'];
        var formatted_delivery_tax = data['formatted_delivery_tax'];
        var tbody_element = $('<tbody></tbody>');

        for(i in items){
            var item = items[i];
            var id_item = item['id_item'];
            var quantidade = item['quantidade'];
            var nome_produto = item['nome_produto'];
            var preco_unidade = item['preco_unidade'];
            var preco_total = item['preco_total'];
            var observacao = item['observacao'];

            var minus_url = '{% url 'cart:decrement_item' 0 1 %}'
                    .replace('0', id_item);
            var minus_td_element = $('<td style="white-space: nowrap"></td>');
            var minus_link = $('<a class="minus">[-]</a>');
            minus_link.attr('href', minus_url);
            minus_link.click(on_minus_click_event);
            minus_td_element.append(minus_link);

            var tr_element = $('<tr></tr>');
            tr_element.append('<td>'+ quantidade +'</td>');
            tr_element.append('<td>'+ nome_produto +'</td>');
            tr_element.append('<td style="white-space: nowrap">R$ '+ preco_total +'</td>');
            tr_element.append('<td>' + observacao + '</td>');
            tr_element.append(minus_td_element);

            tbody_element.append(tr_element);
        }

        var taxes = '<tr>' +
                '<td colspan="2">Taxa de entrega</td>' +
                '<td colspan="3" style="white-space: nowrap">R$ '+ formatted_delivery_tax +'</td>' +
                '</tr>';
        tbody_element.append(taxes);

        var bottom_html = '<tr>' +
                '<td colspan="2">Total</td>' +
                '<td colspan="3" style="font-weight: bold; font-size: 16px; color: #880d16; white-space: nowrap" colspan="2">R$ '+
                formatted_total_value +'</td>' +
                '</tr>';
        tbody_element.append(bottom_html);
        $('#enduser_cart').find('tbody').replaceWith(tbody_element);
    };

    $(document).ready(function(){
        $('#enduser_cart tr a.minus').click(on_minus_click_event);

        $('.item_produto button').click(function(){
            var parent = $(this).parent();
            var id_produto = parent.find('input[name=id_produto]').val();
            var qty = parent.find('input[name=qty]').val();
            var obs = parent.find('textarea[name=observation]').val();
            var url = '{% url 'cart:add_new' 0 0 %}';

            // clear field values
            parent.find('textarea[name=observation]').val('');
            parent.find('input[name=qty]').val(1);

            $.ajax(url.replace('0', id_produto).replace('0', qty), {
                type:'post',
                data: {
                    csrfmiddlewaretoken: $.cookie('csrftoken'),
                    observation: obs
                },
                success: function(data, xhr, textstatus){
                    update_cart(data);
                },
                complete: function(xhr, textstatus){}
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <aside class="span3">
            {% include "filtros_produto.html" %}
        </aside>

        <div class="span6">
            <h1>{{ estabelecimento.nome }}</h1>
            <h3><small>{{estabelecimento.descricao}}</small></h3>
            <h3>
                {% for tipo_cozinha in estabelecimento.lst_tipos_cozinha %}
                    {{ tipo_cozinha.nome }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </h3>
            <div>
                <p>
                    {{ estabelecimento.endereco }}, {{ estabelecimento.numero }} - {{ estabelecimento.bairro.descricao }}<br />
                    {% for meio_pagamento in estabelecimento.lst_meios_pagamentos %}
                        {% if meio_pagamento.imagem %}
                            <img src="{{meio_pagamento.imagem.url}}"  alt="{{meio_pagamento.nome}}" title="{{meio_pagamento.descricao}}" width="16" height="16" />
                        {% else %}
                            {{ meio_pagamento.nome }},
                        {% endif %}
                    {% endfor %}
                </p>
                
                <div class="btn-group pull-left">
			        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        {% for local_entrega in estabelecimento.locais_entrega %}
                            {% if endereco %}
                                {% if local_entrega.bairro.pk == endereco.bairro.pk %}
                                    <i class="icon-map-marker"></i> {{ local_entrega.bairro.descricao }}
                                    <i class="icon-time"></i> {{ local_entrega.tempo_aproximado }} min
                                    <strong>R$</strong> {{ local_entrega.taxa_entrega_formatada }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <span class="caret"></span></button>
			        <ul class="dropdown-menu">
			            <li>
			                <p><strong>&nbsp;Área de Cobertura:</strong></p>
			                <table class="drop-hours">
		                        {% for local_entrega in estabelecimento.locais_entrega.all %}
		                            <tr>
		                                <td title="Bairro"><i class="icon-map-marker"></i> {{ local_entrega.bairro.descricao }}</td>
		                                <td title="Tempo Aproximado de Entrega"><i class="icon-time"></i> {{ local_entrega.tempo_aproximado }} min</td>
		                                <td title="Taxa de Entrega"><strong>R$</strong> {{ local_entrega.taxa_entrega_formatada }}</td>
		                            </tr>
		                        {% endfor %}
		                    </table>
			            </li>
			        </ul>
			    </div>&nbsp;

                <div class="btn-group pull-left">
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-time"></i> {{ estabelecimento.horario_funcionamento_hoje }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                        	<p><strong>&nbsp;Horário Funcionamento:</strong></p>
                            <table class="drop-hours">
                                <tr><td>DOMINGO</td><td>{{ estabelecimento.horario_funcionamento_domingo }}</td></tr>
                                <tr><td>SEGUNDA</td><td>{{ estabelecimento.horario_funcionamento_segunda}}</td></tr>
                                <tr><td>TERÇA</td><td>{{ estabelecimento.horario_funcionamento_terca }}</td></tr>
                                <tr><td>QUARTA</td><td>{{ estabelecimento.horario_funcionamento_quarta }}</td></tr>
                                <tr><td>QUINTA</td><td>{{ estabelecimento.horario_funcionamento_quinta }}</td></tr>
                                <tr><td>SEXTA</td><td>{{ estabelecimento.horario_funcionamento_sexta }}</td></tr>
                                <tr><td>SÁBADO</td><td>{{ estabelecimento.horario_funcionamento_sabado }}</td></tr>
                            </table>
                        </li>
                    </ul>
                </div>

                {% if estabelecimento.status == '0' %}
                    <span class="badge badge-important pull-right" style="padding: 5px 10px">Fechado</span>
                {% else %}
                    <span class="badge badge-success pull-right" style="padding: 5px 10px">Aberto</span>
                {% endif %}

            </div>
            <hr />
            <div class="alert">                
                {% if paginator.count != 0 %}
                	<h3>{{ paginator.count }} produto{{ paginator.object_list|pluralize }} encontrado{{ paginator.object_list|pluralize }}!</h3>
                {% else %}
                	<h3>Sinto muito, o estabelecimento ainda não cadastrou seus produtos.</h3>
               	{% endif %}
            </div>
            {% include "resultados_produtos.html" %}
        </div>

        <!--div class="span2" style="position: fixed; top: 60px; right: 50px;"-->
        <div id="cart" class="span3">
            <div class="thumbnail">
                {% if estabelecimento.imagem %}
                    <img class="imagem_estabelecimento" src="{{ estabelecimento.imagem.url }}"
                         alt="{{ estabelecimento.nome }}" title="{{ estabelecimento.descricao }}" width="270" height="120" />
                {% else %}
                    <img src="{{ STATIC_URL }}img/estabelecimento.png" alt="{{estabelecimento.nome}}" title="{{estabelecimento.descricao}}" width="270" height="120" />
                {% endif %}
            </div><br />
            <h4 style="margin-bottom: 8px; margin-left: 10px; white-space: nowrap;"><i style="margin-top: 1px;" class="icon-shopping-cart"></i>&nbsp;Meu Pedido</h4>
            <div class="thumbnail side-filter" style="background-color: #FFF3E5;">
                <table id="enduser_cart" class="table" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th style="border: none;">Qtd</th>
                            <th style="border: none;">Ítem</th>
                            <th style="border: none;">Valor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product }}</td>
                                <td style="white-space: nowrap">R$ {{ item.total_price|format_money }}</td>
                                <td>{{ item.observation }}</td>
                                <td style="white-space: nowrap"><a href="{% url 'cart:decrement_item' item.id 1 %}" class='minus'>[-]</a></td>
                            </tr>

                            {% if forloop.last %}
                            <tr>
                                <td colspan="2">Taxa de entrega</td>
                                <td colspan="3" style="white-space: nowrap">R$ {{ taxa_de_entrega|format_money }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td style="font-weight: bold; font-size: 16px; color: #880d16;" colspan="3">R$ {{ valor_total|format_money }}</td>
                            </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="2">Taxa entrega</td>
                                <td colspan="3" style="white-space: nowrap">R$ {{ taxa_de_entrega|format_money }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td style="font-weight: bold; font-size: 16px; color: #880d16; white-space: nowrap" colspan="3">R$ {{ taxa_de_entrega|format_money }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="padding: 8px; text-align: center; border-top: solid 1px #ddd">
                    <a class="btn btn-danger" href="{% url 'cart:get' %}">Fechar pedido</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
