<div class="span3">
	<a href="{% url 'estabelecimento:estabelecimento_detail' estabelecimento.pk %}" class="thumbnail">
    {% if estabelecimento.imagem %}
        <img class="imagem_estabelecimento" src="{{estabelecimento.imagem.url}}"
             alt="{{estabelecimento.nome}}" title="{{estabelecimento.descricao}}" width="270" height="120" />
    {% else %}
        <img src="{{ STATIC_URL }}img/estabelecimento.png" alt="{{estabelecimento.nome}}" title="{{estabelecimento.descricao}}" width="270" height="120" />
    {% endif %}
    </a>
</div>

<div class="span6">
    <h3>
        <a href="{% url 'estabelecimento:estabelecimento_detail' estabelecimento.pk %}">{{ estabelecimento.nome }}</a>
    </h3>
    <h4>
        {% if estabelecimento.status == '0' %}
            <span class="badge badge-important">Fechado</span>
        {% else %}
            <span class="badge badge-success">Aberto</span>
        {% endif %}
        <small>{{estabelecimento.descricao}}</small>
    </h4>
    <h4>
        {% for tipo_cozinha in estabelecimento.lst_tipos_cozinha %}
            {{ tipo_cozinha.nome }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </h4>

    <div>
        <p>
            {{ estabelecimento.endereco }}{% if estabelecimento.numero %}, {{ estabelecimento.numero }}{% endif %} - {{ estabelecimento.bairro.descricao }}<br />
            {% for meio_pagamento in estabelecimento.lst_meios_pagamentos %}
                {% if meio_pagamento.imagem %}
                    <img src="{{meio_pagamento.imagem.url}}"  alt="{{meio_pagamento.nome}}" title="{{meio_pagamento.descricao}}" width="16" height="16" />
                {% else %}
                    {{ meio_pagamento.nome }},
                {% endif %}
            {% endfor %}
        </p>

        <div class="btn-group pull-left">
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                {% for local_entrega in estabelecimento.locais_entrega %}
                    {% if endereco %}
                        {% if local_entrega.bairro.pk == endereco.bairro.pk %}
                            <i class="icon-map-marker"></i> {{ local_entrega.bairro.descricao }}
                            <i class="icon-time"></i> {{ local_entrega.tempo_aproximado }} min
                            <strong>R$</strong> {{ local_entrega.taxa_entrega_formatada }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                	<p><strong>&nbsp;Área de Cobertura:</strong></p>
                    <table class="drop-hours">
                        {% for local_entrega in estabelecimento.locais_entrega %}
                            <tr>
                                <td title="Bairro"><i class="icon-map-marker"></i> {{ local_entrega.bairro.descricao }}</td>
                                <td title="Tempo Aproximado de Entrega"><i class="icon-time"></i> {{ local_entrega.tempo_aproximado }} min</td>
                                <td title="Taxa de Entrega"><strong>R$</strong> {{ local_entrega.taxa_entrega_formatada }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </li>
            </ul>
        </div>

        <div class="btn-resp btn-group pull-left">
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-time"></i>  {{ estabelecimento.horario_funcionamento_hoje }} <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                	<p><strong>&nbsp;Horário Funcionamento:</strong></p>
                    <table class="drop-hours">
                        <tr><td>DOMINGO</td><td>{{ estabelecimento.horario_funcionamento_domingo }}</td></tr>
                        <tr><td>SEGUNDA</td><td>{{ estabelecimento.horario_funcionamento_segunda}}</td></tr>
                        <tr><td>TERÇA</td><td>{{ estabelecimento.horario_funcionamento_terca }}</td></tr>
                        <tr><td>QUARTA</td><td>{{ estabelecimento.horario_funcionamento_quarta }}</td></tr>
                        <tr><td>QUINTA</td><td>{{ estabelecimento.horario_funcionamento_quinta }}</td></tr>
                        <tr><td>SEXTA</td><td>{{ estabelecimento.horario_funcionamento_sexta }}</td></tr>
                        <tr><td>SÁBADO</td><td>{{ estabelecimento.horario_funcionamento_sabado }}</td></tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>