<div class="row">
    <div class="span3">
        <div class="well side-filter">
            {% include "form_local_leitura.html" %}
            {% include "form_alterar_localidade.html" %}

            {% if meios_pagamentos or tipos_de_cozinha or status_estabelecimento_fechado or status_estabelecimento_aberto %}
                <div class="well well-small">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            <h4>Navegue aqui</h4>
                        </li>
                        <li class="divider"></li>
                    </ul>

                    <ul class="nav nav-list">
                        {% load filtertag %}
                        {% load truncateletterstag %}

                        {% if status_estabelecimento_fechado.count or status_estabelecimento_aberto.count %}
                            <li class="nav-header">Status</li>

                            {% with status_estabelecimento_fechado.count as total %}
                                {% if total > 0 %}
                                    <li class="filters">
                                        <span class="{% filter_mark status 0 icon-ok %}"></span>

                                        <label for="status_0">
                                            <a href="{% filter_url status 0 %}">
                                                Fechado
                                            </a>

                                            <span class="badge">{{ total }}</span>
                                        </label>
                                    </li>
                                {% endif %}
                            {% endwith %}

                            {% with status_estabelecimento_aberto.count as total %}
                                {% if total > 0 %}
                                    <li class="filters">
                                        <span class="{% filter_mark status 1 icon-ok %}"></span>

                                        <label for="status_1">
                                            <a href="{% filter_url status 1 %}">
                                                Aberto
                                            </a>

                                            <span class="badge">{{ total }}</span>
                                        </label>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        {% endif %}

                        {% if estabelecimentos %}
                            {% load evaltag %}

                            {% for tipo_cozinha in tipos_de_cozinha %}
                                {% if tipo_cozinha.estabelecimento_set.count and forloop.first %}
                                    <li class="nav-header">Tipos de Cozinha</li>
                                {% endif %}

                                {% eval estabelecimentos.filter(tipos_cozinha__exact=tipo_cozinha).distinct().count() as total %}
                                {% if total > 0 %}
                                    <li class="filters">
                                        <span class="{% filter_mark tipo_cozinha '' icon-ok %}"></span>

                                        <label for="tipo_cozinha_{{ forloop.counter }}">
                                            <a href="{% filter_url tipo_cozinha %}" title="{{ tipo_cozinha.descricao }}">
                                                {{ tipo_cozinha.nome|truncateletters:14 }}
                                            </a>

                                            <span class="badge">{{ total }}</span>
                                        </label>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for meio_pagamento in meios_pagamentos %}
                                {% if meio_pagamento.estabelecimento_set.count and forloop.first %}
                                    <li class="nav-header">Meios de Pagamento</li>
                                {% endif %}

                                {% eval estabelecimentos.filter(meios_pagamentos__exact=meio_pagamento).distinct().count() as total %}
                                {% if total > 0 %}
                                    <li class="filters">
                                        <span class="{% filter_mark meio_pagamento '' icon-ok %}"></span>

                                        <label for="meio_pagamento_{{ forloop.counter }}">
                                            <a href="{% filter_url meio_pagamento %}" title="{{ meio_pagamento.descricao }}">
                                                {{ meio_pagamento.nome|truncateletters:14 }}
                                            </a>

                                            <span class="badge">{{ total }}</span>
                                        </label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

