<div class="well side-filter">
    {% include "form_local_leitura.html" %}
    {% include "form_alterar_localidade.html" %}

	{% if categorias_produtos %}
	    <div class="well well-small">
	        <ul class="nav nav-list">
	            <li class="nav-header">
	                <h4>Navegue aqui</h4>
	            </li>
	            <li class="divider"></li>
	        </ul>
	        <ul class="nav nav-list">
	        {% load filtertag %}
	        {% load evaltag %}
	        {% load truncateletterstag %}
	        
	        {% for categoria_produto in categorias_produtos %}
		        {% if categoria_produto.produto_set.count and forloop.first %}
					<li class="nav-header">Categoria de Produtos</li>
		        {% endif %}
		
		        {% eval produtos_estabelecimento.filter(categoria_produto=categoria_produto).distinct().count() as total %}
            	{% if total > 0 %}
	            <li class="filters">
    	        	<span class="{% filter_mark categoria_produto '' icon-ok %}"></span>

		            <label for="categoria_{{ forloop.counter }}">
		            	<a title="{{ categoria_produto.descricao }}" href="{% filter_url categoria_produto %}">{{ categoria_produto.nome|truncateletters:14 }}</a>
	    					<span class="badge">{{ total }}</span>
					</label>
            	</li>
            	{% endif %}
	        {% endfor %}
	        </ul>
	    </div>
    {% endif %}
</div>