{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span3">
            {% include "filtros_estabelecimento.html" %}
        </div>
        
        <div class="span9">
            {% include "snippets/message.html" %}
            <div class="alert alert-info">
        		{% if paginator.count != 0 %}
                	<h3>{{ paginator.count }} estabelecimento{{ paginator.object_list|pluralize }} encontrado{{ object_list|pluralize }}!</h3>
                	
                	Se não encontrou seu estabelecimento favorito, <a href="{% url 'website:indicar_estabelecimento' %}">indique pra gente!</a>
                {% else %}
                	{% if not endereco.bairro %}
                		<h3>Selecione o endereço de entrega para poder escolher o estabelecimento.</h3>
                	{% else %}
                		<h3>Sinto muito, mas, no bairro selecionado ainda não atendemos. Verifique se o endereço de entrega está correto
                		ou <a href="{% url 'website:indicar_estabelecimento' %}">indique um estabelecimento</a>.</h3>
                	{% endif %}
               	{% endif %}
            </div>
            {% include "resultados_estabelecimentos.html" %}
        </div>
    </div>
{% endblock %}