{% if page.has_other_pages %}
<div class="btn-toolbar">
    <div class="btn-group">
    	{% if page.has_previous %}
			<a href="?p={{ page.previous_page_number }}" class="btn"><i class="icon-arrow-left"></i></a>
        {% else %}
        	<span class="btn disabled"><i class="icon-arrow-left"></i></span>
        {% endif %}
    
    	{% for page_number in paginator.page_range %}
	        {% if page.number == page_number %}
	        	<span class="btn disabled">{{ page_number }}</span>
	        {% else %}
	        	<a href="?p={{ page_number }}" class="btn">{{ page_number }}</a>
	        {% endif %}
	    {% endfor %}
        
        {% if page.has_next %}
        	<a href="?p={{ page.next_page_number }}" class="btn"><i class="icon-arrow-right"></i></a>
        {% else %}
        	<span class="btn disabled"><i class="icon-arrow-right"></i></span>
        {% endif %}
    </div>
</div>
{% endif %}