<div class="span2">
	<div class="thumbnail">
    {% if produto.imagem %}
        <img class="imagem_estabelecimento" src="{{produto.imagem.url}}"
             alt="{{ produto.nome }}" title="{{ produto.descricao }}" width="160" height="120" />
    {% else %}
        <img src="{{ STATIC_URL }}img/produto.png" alt="{{ produto.nome }}" title="{{ produto.descricao }}" width="160" height="120" />
    {% endif %}
    </div>
</div>

<div class="span4">
    <h3>{{ produto.nome }}</h3>
    <h5><small>{{ produto.descricao }}</small></h5>
    <h3 style="margin-bottom: 10px;">R$ {{ produto.preco_formatado }}</h3>
    <form method="post" class="item_produto">
        <textarea rows="3" cols="40" name="observation"
                  placeholder="Instruções especiais"></textarea>&nbsp;
        <input name="qty" type="number" maxlength="2" style="width: 35px;" value="1" /><br />
        <input name="id_produto" type="hidden" value="{{ produto.id }}" />
        <button type="button" class="btn btn-danger">Adicionar</button>
    </form>
    {% comment %}
    <!-- a href="{% url cart:add produto.pk 1 %}">Adicionar ao carrinho</a-->
    {% endcomment %}
</div>