{% include "paginacao.html" %}
<hr />
{% for estabelecimento in object_list %}
    <article class="row">
        {% include "estabelecimento.html" %}
    </article>
    <hr />
{% endfor %}
{% include "paginacao.html" %}
