{% include "paginacao.html" %}
{% regroup object_list|dictsort:"categoria_produto.nome" by categoria_produto as categoria_list %}
{% for categoria in categoria_list %}
    <div class="page-header">
    	<h1>
	    	{% if categoria.grouper.imagem %}
		        <img src="{{ categoria.grouper.imagem.url }}" alt="{{ categoria.grouper.nome }}" title="{{ categoria.grouper.descricao }}" width="32" height="32" />
		    {% else %}
		        <img src="{{ STATIC_URL }}img/categoria.png" alt="{{ produto.nome }}" title="{{ produto.descricao }}" width="32" height="32" />
		    {% endif %}
	    	
    		{{ categoria.grouper.nome }} <small>{{ categoria.grouper.descricao }}</small>
    	</h1>
    </div>
    
    {% for produto in categoria.list %}
        <div class="row">
            {% include "produto.html" %}
            <hr class="span7" />
        </div>
    {% endfor %}
{% endfor %}
{% include "paginacao.html" %}