{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'boralanchar' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{{ STATIC_URL }}img/logo-bl.png" alt="{% trans 'boralanchar' %}" width="168" height="22" />
    </h1>
{% endblock %}

{% block userlinks %}
    {% if user.is_superuser %}
        <a href="{% url 'location:cadastrar-endereco' %}">{% trans 'Cadastrar endereço' %}</a> /
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}