{% extends "admin/login.html" %}
{% load i18n %}

{% block content %}
    <style type="text/css">
        #id_email{ width:14em; }
    </style>

    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
        <p class="errornote">
            {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
    {% endif %}

    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
        {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main">
        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="form-row">
                {% if not form.this_is_the_login_form.errors %}{{ form.email.errors }}{% endif %}
                <label for="id_email" class="required">{% trans 'E-mail:' %}</label> {{ form.email }}
            </div>
            <div class="form-row">
                {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
                <input type="hidden" name="this_is_the_login_form" value="1" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
            </div>
        </form>

        <script type="text/javascript">
            document.getElementById('id_email').focus()
        </script>
    </div>
{% endblock %}