<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta name="description" content="boralanchar.com.br :: Peça seu lanche!" />
	<meta http-equiv="copyright" content="boralanchar.com.br" /> 
	<meta name="google-site-verification" content="RRLh8iB7DFPlnFTY64M1A1KxsZ6i289N8gHqgRz1ADE" />
	<meta name="keywords" content="" />

	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache, no-store" />
	<meta http-equiv="expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />

	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow">
	
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE7" />
	<meta http-equiv="content-language" content="pt-br" />
    
	{% block style %}
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <style>
            @media (min-width: 768px) and (max-width: 979px) {
                #wrap > .container { padding-top: 0 }
            }
            @media (max-width: 767px) {
                #wrap > .container {
                    padding-top: 0;
                    padding-bottom: 20px;
                }
                #footer {
                    margin-left: -20px;
                    margin-right: -20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        </style>
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style-responsive.css" rel="stylesheet">
    {% endblock style %}

	<link rel="index" title="boralanchar.com.br" href="http://www.boralanchar.com.br" />
	<link rel="canonical" href="http://www.boralanchar.com.br" /> 

	<meta http-equiv="refresh" content="3600" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}apple-touch-icon-57-precomposed.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/boralanchar.js" type="text/javascript"></script>
    
    {% block head %}{% endblock %}

	<title>{% block title %}boralanchar.com.br :: Peça seu lanche!{% endblock %}</title>
</head>

<body>
{% block body %}
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                {% block header %}
                    {% include "header.html" %}
                {% endblock %}
            </div>
        </div>
    </header>

    <div id="wrap">
    <div class="container content">
        {% block content %}{% endblock %}
    </div>
    <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            {% include "footer.html" %}
            <p class="credit">&copy; 2013 - <a href="http://boralanchar.herokuapp.com">Boralanchar</a></p>
        </div>
    </div>
    
    {% block script %}{% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30123307-1']);
        _gaq.push(['_setDomainName', 'boralanchar.com.br']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock body %}
</body>
</html>