<div class="row">
    <div class="span3">
        <nav class="footer_sobre_o_site">
            <h2>Sobre o site</h2>
            <ul>{% comment %}
                <li><a href="{% url website:como_acompanhar_meu_pedido %}">Acompanhar meu pedido</a></li>
                <li><a href="{% url website:como_funciona %}">Como faço para pedir?</a></li>
                <li><a href="{% url website:perguntas_frequentes %}">Perguntas frequentes</a></li>
                <li><a href="{% url website:termos_de_uso %}">Termos de uso/Política de privacidade</a></li>{% endcomment %}
                <li><a href="{% url 'website:contato' %}">Entre em contato conosco</a></li>
                <li><a href="{% url 'website:empresa' %}">A Empresa</a></li>
            </ul>
        </nav>
    </div>
    <div class="span4">
        <nav class="footer_estabelecimentos">
            <h2>Estabelecimentos</h2>
            <ul>
                <li><a href="{% url 'website:vantagens_estabelecimento' %}">Quais vantagens eu tenho como estabelecimento?</a></li>
                <li><a href="{% url 'website:indicar_estabelecimento' %}">Quero indicar um estabelecimento</a></li>
                {% comment %}<li><a href="{% url website:area_estabelecimento %}">Acesso à área de estabelecimentos</a></li>{% endcomment %}
            </ul>
        </nav>
    </div>
</div>
