<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="{% url 'website:index' %}"><img src="{{ STATIC_URL }}img/logo-bl.png" alt="Boralanchar" title="Boralanchar"/></a>

<nav class="nav-collapse">
    {% comment %}<ul class="nav">
        <li class="active"><a href="{% url website:como_funciona %}">Como funciona</a></li>
        <li><a href="{% url website:meus_pedidos %}">Meus pedidos</a></li>
        <li><a href="{% url website:contato %}">Fale conosco</a></li>
    </ul>{% endcomment %}

    <ul class="nav pull-right">
        <li><a href="{% url 'website:contato' %}">Fale conosco</a></li>
        <li class="divider-vertical"></li>
        {% if user.is_authenticated %}
            <li>
                <div class="btn-group">
                    <button class="btn btn-danger"><a href="{% url 'user_dashboard' %}"><i class="icon-user icon-white"></i> {{ user }}</a></button>
                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'registration_update' user.pk %}"><i class="icon-edit"></i> Editar</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_password_change' %}"><i class="icon-refresh"></i> Alterar senha</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{% url 'auth_logout' %}">Sair</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}"><i class="icon-user icon-white"></i>&nbsp;Entrar</a></li>
            <li><a href="{% url 'registration_register' %}">Cadastre-se</a></li>
        {% endif %}
    </ul>
</nav>
