{% extends "base.html" %}
{% block title %}Perfil do usuário{% endblock %}
{% block style %}
    {{ block.super }}
    <style type="text/css">
    ul.my-user-profile {
        list-style: none;
        margin: 0;
    }
    </style>
{% endblock %}
{% block content %}
    <section>
        <div class="page-header">
            <h1>Conta de {{ user.get_full_name }} <small>configurações do usuário</small></h1>
        </div>
        <h2>Perfil</h2>
        <p>Configurações do perfil</p>
        <ul class="clearfix my-user-profile">
            <li>
                <i class="icon-edit"></i>
                <a href="{% url 'registration_update' user.pk %}">Editar</a>
            </li>
        </ul>

        {% if estabelecimentos %}
        <br/>
        <h2>Estabelecimentos</h2>
        <ul>
            {% for estabelecimento in estabelecimentos %}
            <li>
                <a href='{% url 'dashboard:pedidos' estabelecimento.id %}'>{{ estabelecimento }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        <h2>Segurança</h2>
        <p>Configurações de segurança do usuário</p>
        <ul class="clearfix my-user-profile">
            <li>
                <i class="icon-refresh"></i>
                <a href="{% url 'auth_password_change' %}">Alterar senha</a>
            </li>
        </ul>
    </section>
{% endblock %}