<html>

<head>
    {% block script %}
        <script type="text/javascript">
            var act = '{{ act }}';
            if (act == 'print'){
                window.print();
                window.close();
            }
        </script>
    {% endblock %}
</head>

<body>


{% block content %}
    <h3><a href="{% url 'dashboard:pedidos' estabelecimento.id %}">{{ estabelecimento }}</a></h3>
    <h4>Pedido {{ pedido }}</h4>

    {% if messages %}
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
    {% endif %}

    {% with pedido.cliente as cliente %}
    {% include "dashboard/includes/descricao_pedido.html" %}
    {% endwith %}
{% endblock %}
</body>
</html>