{% extends "base.html" %}

{% block style %}
    {{ block.super }}
    <style type="text/css">
        #form_filters ul *{ display:inline; }
        li.pedido{ cursor:default; }
    </style>
{% endblock %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="refresh" CONTENT="60" />
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/noty/jquery.noty.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/noty/layouts/top.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/noty/themes/default.js" type="text/javascript"></script>

<script type="text/javascript">
    var id_estabelecimento = {{ estabelecimento.id }};
    var url_muda_status_pedido = "/dashboard/{0}/pedido/{1}/edit/status/".replace('{0}', id_estabelecimento);

    $(document).ready(function(){
        $('.pedidos').accordion({
            collapsible: true,
            active: false,
            header: "span"
        });

        $('.pedidos select').change(function(e){
            var parent = $(this).parent();
            var id_parent = parent.attr('id');
            var id_pedido = id_parent.split('_')[1];
            var url = url_muda_status_pedido.replace('{1}', id_pedido);
            var value = $(this).val();

            $.ajax({
                url:url,
                dataType: 'json',
                type:"POST",
                data:{
                    status: value,
                    csrfmiddlewaretoken: $.cookie('csrftoken')
                },
                success: function(data, txtstatus, xhr){
                    var msg_ok = 'Pedido {1} atualizado.';
                    var msg_error = 'Não foi possível atualizar o pedido {1}.';
                    if(txtstatus == 'success')
                        noty({
                            text: msg_ok.replace('{1}', data['id']),
                            timeout: 2000,
                            type: 'success'
                        });
                    else
                        noty({
                            text: msg_error.replace('{1}', data[id]),
                            timeout: 2000,
                            type: 'error'
                        });
                }
            });
        });
    });
    {# $.ajax(build_url_lista_pedidos($('#form_filters').serialize())); #}
</script>
{% endblock %}

{% block content %}
    <h2>{{ estabelecimento }} - <span>{{ estabelecimento.funcionando|yesno:"Aberto,Fechado" }}</span></h2>
    <div>
        Horário de funcionamento: {{ estabelecimento.horario_funcionamento_hoje }} - <a href="{% url 'dashboard:toggle_estabelecimento' estabelecimento.id %}">Mudar status</a>
    </div>

    <h3>Pedidos - <a href="{% url 'dashboard:produtos' estabelecimento.id %}">Produtos</a></h3>
    <form id="form_filters" method="get" action="">{% csrf_token %}
        {{ form_filtro.as_p }}

        <input type="submit" value="Filtrar" />
    </form>

    <ul class='pedidos'>
        {% for pedido,form in pedidos %}
            <li class="pedido" id="pedido_{{ pedido.id }}">
                {{ form.status }}
                <a href="{% url 'dashboard:pedido' estabelecimento.id pedido.id %}?act=print" target="_blank">Imprimir</a>
                <span>{{ pedido }}</span>

                {% with pedido.cliente as cliente %}
                <div>
                    {% include "dashboard/includes/descricao_pedido.html" %}
                </div>
                {% endwith %}
            </li>
        {% empty %}
            {% if tempo_pedidos == 1 %}
                <li>Nenhum pedido efetuado na última hora.</li>
            {% else %}
                <li>Nenhum pedido efetuado nas últimas {{ tempo_pedidos }} horas.</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}