{% extends "base.html" %}

{% block content %}
    <h2>{{ estabelecimento }} - <span>{{ estabelecimento.funcionando|yesno:"Aberto,Fechado" }}</span></h2>
    <div>
        Horário de funcionamento: {{ estabelecimento.horario_funcionamento_hoje }} - <a href="{% url dashboard:toggle_estabelecimento estabelecimento.id %}">Mudar status</a>
    </div>

    <h3><a href="{% url 'dashboard:pedidos' estabelecimento.id %}">Pedidos</a> - Produtos</h3>
    {% if produtos.count %}
    <ul>
    {% for produto in produtos %}
        <li>{{ produto }} ({{ produto.ativo|yesno:"disponível,indisponível" }})
            <a href="{% url 'dashboard:produto_toggle_disponibilidade' produto.estabelecimento_id produto.id %}">({{ produto.ativo|yesno:"Tornar indisponível,Tornar disponível" }})</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}