{% extends "base.html" %}
{% block content %}

    {% include "snippets/message.html" %}

    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>Entre em contato conosco</legend>

            {% include "snippets/form.html" %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="reset" class="btn">Limpar</button>
            </div>
        </fieldset>
    </form>

{% endblock content %}

{% block script %}
    {% if form_is_valid %}
        <script type="text/javascript">
        $(document).ready(function() {
            $(":text, textarea").val('');
            $('.twitter :text').val('');
            $('.facebook :text').val('');
        });
        </script>
    {% endif %}
    
    {% if form_not_valid %}
        <script type="text/javascript">
        $(document).ready(function() {
            $(':input:not(:submit,:reset)').css('background', '#E4FFDF');
            var prev_elem = $('.errorlist').prev();
            prev_elem.find(':input').each(function(pos){
                if (pos == 0){
                    $(this).select();
                }
                $(this).css('background', '#FFEFEF');
            });
        });
        </script>
    {% else %}
        <script type="text/javascript">
        $(document).ready(function() {
            $(':text:first').focus();
        });
        </script>
    {% endif %}
{% endblock %}
