{% extends "base.html" %}

{% block style %}
<style>
#content {
	margin: 5px 5px 5px 5px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

img {
	border: none;
}

footer {
	overflow: hidden;
	background: #090909;
	color: #FFFFFF;
}
</style>
{% endblock %}

{% block body %}
	<div id="wrapper" class="wrapper" style="background-color: white;">
		<section id="content" class="content">
			<div style="text-align: center;">
				<img SRC="{{ STATIC_URL }}img/hex13.jpg" />
			</div>
			
			<br/>
			
			<div style="text-align: center;">
				<img src="{{ STATIC_URL }}img/hex14.jpg" height="53" width="59">
				<img src="{{ STATIC_URL }}img/hex17.jpg" height="42" width="60">
				<img src="{{ STATIC_URL }}img/hex18.jpg" height="42" width="31">
				<img src="{{ STATIC_URL }}img/hex19.jpg" height="42" width="64">
				<img src="{{ STATIC_URL }}img/hex15.jpg" height="53" width="15">
				<img src="{{ STATIC_URL }}img/hex23.jpg" height="42" width="64">
				<img src="{{ STATIC_URL }}img/hex21.jpg" height="42" width="61">
				<img src="{{ STATIC_URL }}img/hex22.jpg" height="42" width="63">
				<img src="{{ STATIC_URL }}img/hex16.jpg" height="53" width="61">
				<img src="{{ STATIC_URL }}img/hex20.jpg" height="42" width="61">
				<img src="{{ STATIC_URL }}img/hex24.jpg" height="42" width="31">
			</div>
		</section>
		
		<br/>
		
		<footer id="footer" class="footer">
			<div style="text-align: center;">Todos os direitos reservados Boralanchar 2012. <a href="{% url 'estabelecimento:estabelecimentos' %}">GO!</a></div>
		</footer>
	</div>
{% endblock %}