{% load cart %}
<h4>
    <a href="#">Cliente {{ cliente }}</a>
</h4>
<dl>
    <dt>Nome</dt>
        <dd>{{ cliente.nome }}</dd>
    <dt>Email</dt>
        <dd>{{ cliente.email }}</dd>
    <dt>Telefone</dt>
        <dd>{{ cliente.telefone }}</dd>
</dl>

<p><strong>Itens</strong></p>
<ul>
    {% for item in pedido.itens.all %}
        <li>
            {{ item }}
            {% if item.observacao %}
                <p>{{ item.observacao }}</p>
            {% endif %}

            {% with item.itens_adicionais.all as itens_adicionais %}
                {% if itens_adicionais %}
                    <ul>
                    {% for item_adicional in itens_adicionais %}
                        <li>{{ item_adicional }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        </li>
    {% endfor %}
</ul>

<p>Troco solicitado: {{ pedido.troco_para|format_money }}</p>
<p>Taxa de entrega: {{ pedido.taxa_entrega|format_money }}</p>
<p>Valor do pedido: {{ pedido.valor_total|format_money }}</p>
<p>Valor total: {{ pedido.valor_total|add:pedido.taxa_entrega|format_money }}</p>